<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.pet.mapper.PetInfoMapper">
    <select id="getAllPetInfo" resultType="com.zcy.pet.model.entity.PetInfo">
        select * from pet_info
    </select>

    <select id="getPagePetInfoList" resultType="com.zcy.pet.model.bo.PetInfoBo">
        SELECT
        pid,
        name,
        type,
        `virtual`,
        age,
        weight,
        happy,
        health,
        hungry,
        is_valid,
        create_time,
        update_time
        FROM pet_info
        <where>
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="queryParams.name != null and queryParams.name != ''">
                    AND name like concat('%',#{queryParams.name},'%')
                </if>
                <if test="queryParams.createTime != null and queryParams.createTime != ''">
                    AND create_time = #{queryParams.createTime}
                </if>
                <if test="queryParams.updateTime != null and queryParams.updateTime != ''">
                    AND update_time = #{queryParams.updateTime}
                </if>
            </trim>
        </where>
    </select>

</mapper>
