<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.pet.mapper.PetInfoMapper">
    <select id="getAllPetInfo" resultType="com.zcy.pet.model.entity.PetInfo">
        select * from pet_info
    </select>

    <select id="getPagePetInfoList" resultType="com.zcy.pet.model.bo.PetInfoBo">
        SELECT
        i.pid,
        i.name,
        t.name AS type,
        i.is_virtual,
        i.img,
        i.age,
        i.weight,
        i.happy,
        i.health,
        i.hungry,
        i.status,
        i.create_time
        FROM pet_info i
        LEFT JOIN pet_type t ON i.type = t.tid
        <where>
            i.deleted = 0
            <if test="queryParams.name != null and queryParams.name != ''">
                AND i.name like concat('%',#{queryParams.name},'%')
            </if>
            <if test="queryParams.isVirtual != null">
                AND i.is_virtual = #{queryParams.isVirtual}
            </if>
            <if test='queryParams.status!=null'>
                AND i.status = #{queryParams.status}
            </if>
            <if test="queryParams.startTime != null">
                AND i.create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND i.create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
    </select>

</mapper>
