<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.pet.mapper.PetMenuMapper">
    <select id="getAllPetMenu" resultType="com.zcy.pet.model.entity.PetMenu">
        select * from pet_menu
    </select>

    <select id="getPagePetMenuList" resultType="com.zcy.pet.model.bo.PetMenuBo">
        SELECT
        m.mid,
        m.pid,
        m.icon,
        m.title,
        m.path,
        i.path AS iconPath,
        m.is_front,
        m.sort,
        m.level,
        m.status,
        m.create_time
        FROM pet_menu m
        LEFT JOIN pet_icon i ON m.icon = i.id
        <where>
            m.deleted = 0
            <if test="queryParams.title != null and queryParams.title != ''">
                AND title like concat('%',#{queryParams.title},'%')
            </if>
            <if test='queryParams.status!=null'>
                AND status = #{queryParams.status}
            </if>
            <if test="queryParams.startTime != null">
                AND create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
    </select>

</mapper>
