<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.pet.mapper.PetModelMapper">
    <select id="getAllPetInfo" resultType="com.zcy.pet.model.entity.PetModel">
        select * from pet_model
    </select>

    <select id="getPagePetModelList" resultType="com.zcy.pet.model.bo.PetModelBo">
        SELECT
        mid,
        name,
        url,
        status,
        create_time
        FROM pet_model m
        <where>
            m.deleted = 0
            <if test="queryParams.name != null and queryParams.name != ''">
                And name like concat('%',#{queryParams.name},'%')
            </if>
            <if test="queryParams.startTime != null">
                AND create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
    </select>

    <select id="listModelConfig" resultType="com.zcy.pet.model.vo.PetModeConfigVo">
        SELECT
            p.pid,
            p.name,
            m.url,
            p.img
        FROM
            pet_info p
                LEFT JOIN pet_model m ON p.model = m.mid
        WHERE
            p.deleted = 0
          AND
            p.is_virtual = 1
    </select>
</mapper>
