<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.pet.mapper.PetRoleMapper">
    <select id="getAllPetRole" resultType="com.zcy.pet.model.entity.PetRole">
        select * from pet_role
    </select>

    <select id="getPagePetRoleList" resultType="com.zcy.pet.model.bo.PetRoleBo">
        SELECT
        r.rid,
        r.role_name,
        r.role_code,
        r.description,
        r.status,
        r.create_time,
        GROUP_CONCAT( p.pid ) AS pids
        FROM
            pet_role r
            LEFT JOIN pet_role_permission prp ON r.rid = prp.rid
            LEFT JOIN pet_permission p ON prp.pid = p.pid
        <where>
            r.deleted = 0
            <if test="queryParams.roleName != null and queryParams.roleName != ''">
                AND role_name like concat('%',#{queryParams.roleName},'%')
            </if>
            <if test='queryParams.status!=null'>
                AND status = #{queryParams.status}
            </if>
            <if test="queryParams.startTime != null">
                AND create_time &gt;= #{queryParams.startTime}
            </if>
            <if test="queryParams.endTime != null">
                AND create_time &lt;= #{queryParams.endTime}
            </if>
        </where>
        GROUP BY r.rid
    </select>
</mapper>
